@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Spartan&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

iframe, img, video {
  max-width: 100%;
  height: auto;
}

body, html {
  min-height: 100%;
}

body, button {
  font-family: "Spartan", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
}

.lorem {
  font-family: "Flow Circular", cursive;
}

header {
  min-height: 10vh;
  background-color: rgb(0, 128, 0);
}

main {
  min-height: 90vh;
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.4em;
}

.blackjack__table {
  position: absolute;
  border-radius: 15px;
  background-color: rgb(0, 180, 0);
  width: 50%;
  height: 80%;
}
.blackjack__center {
  background-color: rgb(60, 60, 60);
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(60, 60, 60);
  color: white;
}
.blackjack__dealer, .blackjack__player {
  height: 40%;
}

.btn {
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
}
.btn--hit, .btn--stand {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.btn--hit:hover, .btn--stand:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.end_game_message {
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer {
  min-height: 10vh;
  background-color: rgb(60, 60, 60);
  color: rgb(105, 105, 105);
  display: flex;
  justify-content: center;
  align-items: center;
}